#disable backup files and dirs
backup/

#disable temporary and log files and dirs
*.tmp
*.temp
*.log
log/
logs/

#disable composer-managed libraries
/vendor/
#disable composer lock file
/composer.lock

#disable IDE files
/nbproject/private/
/nbproject/

#disable db tools
adminer*.php

#disable image win/mac auxiliary files
thumbs.db
__MACOSX/



